html {
    background-color: rgb(216, 221, 227);
}
#header {
    position: sticky;
    top: 0;
    display: flex;
    padding: 20px;
    background-color: rgb(216, 221, 227);
}

#header-img {
    height: 30px;
    width: auto;
}
#nav-bar {
    margin-left: 700px;
}

.nav-link {
    font-size: 20px;
    padding: 10px;
    margin: 0 30px;
    color: black;
    text-decoration: none;
}

#form {
    display: flex;
    flex-direction: column;
}

#bld {
    margin: 10px auto;
    font-size: 25px;
}

#email {
    width: 290px;
    margin: 15px auto;
    padding: 4px;
}

#submit {
    width: 150px;
    margin: 5px auto;
    padding: 5px 10px;
    background-color: sandybrown;
    font-weight: bold;
    border-radius: 5px;
}

#features {
    width: 800px;
    margin: 40px auto;
    font-size: 20px;
    padding: 30px;
}

.feature-description {
    margin-bottom: 50px;
}

#vedio {
    border: 5px solid black;
    border-radius: 10px;
    width: 560px;
    margin: 100px 0 0 480px;
}

#pricing-total {
    display: flex;
    flex-direction: row;
    width: 800px;
    margin: 100px auto auto auto;
}

.pricing {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 250px;
    margin: 30px 20px;
    padding: 10px 30px;
    box-sizing: border-box;
    height: 290px;
}

.select {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 70px;
    left: 80px;
    margin: 20px 0;
    background-color: yellow;
    padding: 8px;
    border-radius: 5px;
}

.price-heading {
    background-color: thistle;
    padding: 20px 30px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    html {
        background-color: sandybrown;
    }
    #header {
        position: static;
        top: 0;
        display: block;
        padding: 20px;
        background-color: rgb(216, 221, 227);
    }

    #nav-bar {
        margin: 0px;
    }

    .nav-link{
        display: block;
    }

    #pricing-total {
        display: block;
        width: 800px;
    }

    .pricing {
        border: 2px solid red;
        display: block;
        width: 300px;
       
    }

    #vedio {
        border: 5px solid black;
        border-radius: 10px;
        width: 450px;
        margin: auto;
    }

    #features {
        width: 400px;
        margin: auto;
        font-size: 20px;
        padding: 10px;
    }
}